.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    top: 75px;
    left: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    display: block;
    overflow: hidden;
}

@media (max-width: 600px) {
    .Modal {
        width: 75vw;
    }
}

@media (min-width: 1200px) {
    .Modal {
        width: 540px;
        left: calc(50% - 13vw);
        height: 600px;
    }
}

@media (max-height: 600px) {
    .Modal {
        height: 85vh;
        top: 20px;
    }
}